body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border: 2px solid black;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 5px;
}

input {
  margin-left: 10px;
}
