body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;

  width: 90vw;
  height: 90vh;
}
.container {
  width: 200px;
  height: 200px;
  background-color: green;

  display: grid;
  grid-template-columns: 1fr 1fr;

  /* 가운데 정렬 */
  justify-items: center;
  align-items: center;
}
.box {
  width: 90%;
  height: 90%;
  background-color: white;

  display: flex; /*축 설정*/
  flex-direction: column; /*세로로 정렬*/
  justify-content: center; /*주축에 대해 중앙정렬*/
  align-items: center; /*서브 축에 대해 중앙 정렬*/
}
p {
  font-family: "Do Hyeon", sans-serif;
}
